/* CSS declarations go here */

#header {
    background-color :darkolivegreen;
}

h1 {
    color:white;
}
ul#menu {
    padding: 0;
    text-align:center;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: darkolivegreen;
    color:white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px 5px 5px 5px;
}

ul#menu li a:hover {
    background-color: #2B3618;
    color:whitesmoke;
}

html, body{
    min-width: 144px;
    min-height: 168px;
    height:100%;
}

.map-container {
  height: 100% !important;
}

.header {
    text-align: center;
}

.toolbar .btn {
    width: 100%;
}

.map_control {
}

.map_control .border{
	background-color: '#fff';
	border: '2px solid #fff';
	margin-bottom: '22px';
	text-align: 'center';
}

.map_control .border .interior{
	color: 'rgb(25,25,25)';
	font-family: 'Roboto,Arial,sans-serif';
	font-size: '16px';
	line-height: '38px';
	padding-left: '5px';
	padding-right: '5px';
}

.hidden {
	display: none !important;
}

@media only screen and (max-height: 169px), screen and (max-width: 145px) {
    .hideOnPebble {
        display: none;
    }
}