/* CSS declarations go here */

html, body{
  height:100%;
}

.map-container {
  min-height: 320px;
  height: 100% !important;
}

.header {
    text-align: center;
}

.toolbar .btn {
    width: 100%;
}